.footer__content {
  border-top: 1px solid $color-elephant-20;
}

.footer__wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 32px 0;

  @include vp-1199 {
    padding: 33px 0 20px;
  }

  @include vp-767 {
    padding-top: 23px;
  }
}

.footer__logo {
  text-decoration: none;
}

.footer__nav-wrapper {
  margin-bottom: 21px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include vp-1199 {
    margin-bottom: 34px;
  }

  @include vp-767 {
    flex-direction: column;
    gap: 18px;
    margin-bottom: 13px;
  }
}

.footer__nav-list {
  min-width: 585px;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 21px;

  @include vp-1199 {
    min-width: 500px;
    gap: 14px;
  }

  @include vp-767 {
    display: block;
    column-count: 2;
    column-width: 120px;
    column-gap: 56px;
    min-width: 296px;

    li {
      text-align: center;
      margin-bottom: 5px;
    }
  }
}

.footer__nav-link {
  position: relative;
  padding: 3px 5px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $color-elephant;
  text-decoration: none;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-elephant;
    transform: scale(0);
    transform-origin: center;
    transition: $trans-default;
  }

  @include hover {
    &::before {
      transform: scale(1);
    }
  }

  @include active {
    &::before {
      display: none;
    }
  }

  @include focus {
    outline: 1px solid $color-elephant;
  }

  @include vp-1199 {
    font-size: 14px;
    line-height: 14px;
  }
}

.footer__phone {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: column;
  margin-top: 3px;
  flex-basis: 200px;
  min-width: 145px;

  .footer__phone-link {
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-left: auto;
    color: $color-elephant;
    text-decoration: none;

    @include hover-focus {
      color: $color-resolution-blue;
    }

    @include active {
      color: $color-navy-blue;
    }

    @include without-outline;

    @include disabled {
      color: $color-navy-blue;
      cursor: not-allowed;
      pointer-events: none;
    }
  }

  @include vp-1199 {
    display: none;
  }
}

.footer__social-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 0 22px;
  list-style: none;
  gap: 15px;

  @include vp-1199 {
    margin-bottom: 34px;
    gap: 16px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.footer__policy {
  font-size: 12px;
  line-height: 12px;
  font-weight: 300;
  color: $color-elephant;
  text-decoration: none;
}
