.hero {
  color: $color-default-white;
}

.hero__swiper {
  margin: 0 auto;
  max-width: $vp-1920;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  position: relative;
}

.hero__content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 200px 360px 80px;

  @include vp-1919 {
    padding-left: 190px;
    padding-right: 190px;
  }

  @include vp-1579 {
    padding-left: 120px;
    padding-right: 120px;
  }

  @include vp-1199 {
    padding: 212px 45px 40px;
    align-items: center;
  }

  @include vp-767 {
    padding: 140px 15px 40px;
  }

  h2 {
    margin: 0 0 23px;
    padding: 0;
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    max-width: 944px;

    @include vp-1199 {
      margin: 0 0 14px;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      max-width: 678px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      margin: 0 0 15px;
      max-width: 332px;
    }
  }

  p {
    margin: 0 0 37px;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    max-width: 464px;

    @include vp-1199 {
      text-align: center;
      margin: 0 auto 25px;
      max-width: 500px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      margin: 0 auto 60px;
      max-width: 332px;
    }
  }
}

.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;

  img {
    height: 908px;

    @include vp-1579 {
      height: 800px;
    }

    @include vp-1439 {
      height: 1024px;
    }

    @include vp-767 {
      height: 420px;
    }

    @include vp-567 {
      height: 568px;
    }
  }
}

// .hero__video {

// }

// .hero__list {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// .hero__item-wrapper {
//   position: absolute;
//   padding: 200px 0 80px;
//   width: 100%;
//   left: 50%;
//   transform: translateX(-50%);
// }

// .hero__item-text {
//   display: flex;
//   flex-direction: column;
//   width: fit-content;
//   z-index: 10;

//   h2 {
//     margin: 0 0 23px;
//     padding: 0;
//     font-size: 77px;
//     font-weight: 800;
//     line-height: 77px;
//     width: 944px;

//     @include vp-1199 {
//       width: 678px;
//       margin: 0 0 14px;
//       font-size: 56px;
//       line-height: 56px;
//       text-align: center;
//     }

//     @include vp-767 {
//       font-size: 26px;
//       line-height: 26px;
//       width: 332px;
//       margin: 0 0 15px;
//     }
//   }

//   p {
//     margin: 0 0 37px;
//     padding: 0;
//     max-width: 420px;
//     font-size: 17px;
//     font-weight: 400;
//     line-height: 24px;
//     width: 471px;

//     @include vp-1199 {
//       text-align: center;
//       margin: 0 auto 25px;
//       width: 472px;
//     }

//     @include vp-767 {
//       font-size: 15px;
//       line-height: 20px;
//       width: 287px;
//       margin: 0 auto 60px;
//     }
//   }

//   @include vp-1199 {
//     align-items: center;
//     margin: 0 auto;
//   }
// }

// .hero__content-wrapper {
//   display: flex;
//   min-height: 520px;

//   @include vp-1439 {
//     flex-direction: column;
//     align-items: center;
//   }
// }

// .hero__video {
//   position: relative;
//   margin-left: -200px;
//   margin-top: 100px;
//   width: 482px;
//   height: 317px;
//   background-color: $color-navy-blue;
//   z-index: 5;
//   flex-shrink: 0;

//   img {
//     width: 100%;
//     object-fit: cover;
//     height: revert-layer;
//   }

//   @include vp-1199 {
//     margin-left: 0;
//     margin-top: 0;
//   }

//   @include vp-767 {
//     display: none;
//   }
// }

// .hero__video-player {
//   position: absolute;
//   width: 100%;
//   height: 100%;
// }


// .hero__image {
//   // min-height: 908px;

//   // @include vp-1439 {
//   //   min-height: 800px;
//   // }

//   // @include vp-1023 {
//   //   min-height: 1024px;
//   // }

//   // @include vp-567 {
//   //   min-height: 420px;
//   // }

//   // @include vp-419 {
//   //   min-height: 568px;
//   // }

//   img {
//     width: 100%;
//     object-fit: cover;
//   }
// }

// .hero__video-button {
//   position: absolute;
//   content: "";
//   width: 56px;
//   height: 56px;
//   padding: 0;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   border-radius: 50%;
//   background: $color-transparent;
//   border: none;
//   cursor: pointer;

//   &::after {
//     position: absolute;
//     content: "";
//     top: 0;
//     left: 0;
//     width: 56px;
//     height: 56px;
//     border-radius: 50%;
//     background: $color-transparent;
//     border: 1px solid $color-default-white;
//   }

//   @include without-outline;

//   @include hover-focus {
//     &::after {
//       border: 1px solid $color-resolution-blue;
//     }

//     svg path {
//       stroke: $color-default-black;
//     }
//   }

//   @include active {
//     background: $color-resolution-blue;

//     svg path {
//       stroke: none;
//     }
//   }

//   @include disabled {
//     svg {
//       color: $color-navy-blue;
//     }

//     &::after {
//       border: 1px solid $color-navy-blue-10;
//     }
//   }

//   svg {
//     color: $color-default-white;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-4px, -12px);
//   }
// }

// .hero__photos {
//   position: absolute;
//   width: 410px;
//   height: 459px;
//   right: 321px;
//   top: 200px;

//   img {
//     width: 100%;
//     object-fit: contain;
//     height: auto;
//   }

//   @include vp-767 {
//     display: none;
//   }
// }

// .hero__audio {
//   align-self: end;
//   margin-bottom: 100px;

//   iframe {
//     width: 340px;
//     height: 220px;
//   }

//   @include vp-767 {
//     display: none;
//   }
// }

// .hero__item-info {
//   display: flex;
//   gap: 10px;

//   span {
//     position: relative;
//     font-size: 12px;
//     font-weight: 400;
//     line-height: 16px;
//     padding: 14px 20px;
//     border: 1px solid $color-white-50;
//     color: $color-default-white;
//   }

//   svg {
//     position: relative;
//     top: 1px;
//     left: -5px;
//   }

//   @include vp-1199 {
//     display: none;
//   }
// }

// .hero__btn {
//   margin-bottom: auto;
// }

// .swiper {
//   .hero__pagination {
//     display: flex;
//     max-width: 100px;
//     width: fit-content;
//     flex-wrap: wrap;
//     gap: 20px;
//     right: 145px;
//     left: auto;
//     bottom: 210px;
//   }

//   .swiper-pagination-bullet {
//     width: 10px;
//     height: 10px;
//     border: 1px solid $color-default-white;
//     background-color: $color-transparent;
//     opacity: 1;


//     @include hover {
//       background-color: $color-gainsboro;
//     }

//     @include active {
//       background-color: $color-white-50;
//     }

//     @include focus {
//       outline-offset: 1px;
//       outline: 1px solid $color-white-50;
//     }

//     @include vp-767 {
//       width: 8px;
//       height: 8px;
//     }
//   }

//   .swiper-pagination-bullet-active {
//     background: $color-default-white;
//   }
// }
