.hero {
  color: $color-default-white;
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  position: relative;
  background-color: $color-elephant;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $gradient-big-slider;
  }
}

.hero__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 200px 0 80px;
  min-height: 800px;

  @include vp-1199 {
    padding: 212px 0 40px;
    align-items: center;
    min-height: 1024px;
  }

  @include vp-767 {
    padding: 140px 0 40px;
    min-height: 568px;
  }

  h2 {
    margin: 0 0 23px;
    padding: 0;
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    max-width: 944px;
    z-index: 2;

    @include vp-1199 {
      margin: 0 0 14px;
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      max-width: 678px;
    }

    @include vp-767 {
      font-size: 26px;
      line-height: 26px;
      margin: 0 0 15px;
      max-width: 332px;
    }
  }

  p {
    margin: 0 0 37px;
    padding: 0;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    max-width: 464px;

    @include vp-1199 {
      text-align: center;
      margin: 0 auto 26px;
      max-width: 460px;
    }

    @include vp-1023 {
      max-width: 473px;
    }

    @include vp-767 {
      font-size: 15px;
      line-height: 20px;
      margin: 0 auto 60px;
      padding: 0 25px;
      max-width: 332px;
    }
  }
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__btn {
  margin-bottom: 40px;

  @include vp-1199 {
    margin-bottom: auto;
  }
}

.hero__details {
  display: flex;
  gap: 10px;
  margin-top: auto;

  span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 13px 19px 13px 24px;
    border: 1px solid $color-white-50;
    color: $color-default-white;
  }

  span + span {
    padding-right: 20px;
  }

  svg {
    position: relative;
    top: 2px;
    left: -5px;
  }

  @include vp-1199 {
    display: none;
  }
}

.hero__video {
  position: absolute;
  top: 329px;
  right: 0;
  width: 482px;
  height: 317px;
  background-color: $color-navy-blue;

  &--enabled .hero__video-button {
    display: block;
  }

  @include vp-1199 {
    position: relative;
    top: auto;
    right: auto;
    bottom: 150px;
    width: 442px;
    height: 300px;
  }

  @include vp-1023 {
    bottom: 147px;
  }

  @include vp-767 {
    display: none;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__video-player {
  position: absolute;
  width: 100%;
  height: 100%;
}

.hero__video-button {
  display: none;
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $color-transparent;
  border: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: $color-transparent;
    border: 1px solid $color-default-white;
  }

  svg + svg {
    display: none;
  }

  @include without-outline;

  @include hover-focus {
    &::after {
      border: 1px solid $color-resolution-blue;
    }

    svg {
      display: none;
    }

    svg + svg {
      display: block;
    }
  }

  @include active {
    background: $color-resolution-blue;

    svg {
      display: block;
    }

    svg + svg {
      display: none;
    }
  }

  @include disabled {
    cursor: not-allowed;

    svg {
      color: $color-navy-blue;
    }

    &::after {
      border: 1px solid $color-navy-blue-10;
    }
  }

  svg {
    color: $color-default-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-3px, -11px);
  }
}

.hero__image {
  position: absolute;
  inset: 0;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.hero__photos {
  position: absolute;
  width: 410px;
  height: 459px;
  right: 0;
  bottom: 154px;

  @include vp-1199 {
    width: 442px;
    height: 365px;
    bottom: 122px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio {
  position: absolute;
  width: 340px;
  height: 220px;
  bottom: 154px;
  right: 0;

  @include vp-1199 {
    bottom: 267px;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
  }

  @include vp-767 {
    display: none;
  }

  iframe {
    width: 340px;
    height: 220px;
  }
}

.swiper {
  .hero__swiper-pagination {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    padding-left: 500px;
    gap: 12px;
    right: -7px;
    bottom: 97px;

    @include vp-1199 {
      padding-left: 45px;
      bottom: 40px;
      right: 0;
      justify-content: center;
    }

    @include vp-767 {
      padding-left: 15px;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid $color-default-white;
    background-color: $color-transparent;
    opacity: 1;


    @include hover {
      background-color: $color-gainsboro;
    }

    @include active {
      background-color: $color-white-50;
    }

    @include focus {
      outline-offset: 1px;
      outline: 1px solid $color-white-50;
    }

    @include vp-767 {
      width: 8px;
      height: 8px;
    }
  }

  .swiper-pagination-bullet-active {
    background: $color-default-white;
  }
}
