.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item-wrapper {
  position: absolute;
  padding: 200px 0 80px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.hero__item-text {
  display: flex;
  flex-direction: column;
  width: fit-content;
  max-width: 944px;
  z-index: 10;

  h2 {
    margin: 0 0 25px 0;
    padding: 0;
    font-size: 77px;
    font-weight: 800;
    line-height: 77px;
    color: $color-default-white;
  }

  p {
    margin: 0 0 35px 0;
    padding: 0;
    max-width: 420px;
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: $color-default-white;
  }
}

.hero__content-wrapper {
  display: flex;
  min-height: 520px;
}

.hero__video {
  position: relative;
  margin-left: -200px;
  margin-top: 100px;
  width: 482px;
  height: 317px;
  background-color: $color-navy-blue;
  z-index: 5;
  flex-shrink: 0;

  img {
    width: 100%;
    object-fit: cover;
    height: auto;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__video-player {
  position: absolute;
  width: 100%;
  height: 100%;
}


.hero__image {
  img {
    width: 100%;
    object-fit: cover;
  }
}

.hero__video-button {
  position: absolute;
  content: "";
  width: 56px;
  height: 56px;
  padding: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: $color-transparent;
  border: none;
  cursor: pointer;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: $color-transparent;
    border: 1px solid $color-default-white;
  }

  @include without-outline;

  @include hover-focus {
    &::after {
      border: 1px solid $color-resolution-blue;
    }

    svg path {
      stroke: $color-default-black;
    }
  }

  @include active {
    background: $color-resolution-blue;

    svg path {
      stroke: none;
    }
  }

  @include disabled {
    svg {
      color: $color-navy-blue;
    }

    &::after {
      border: 1px solid $color-navy-blue-10;
    }
  }

  svg {
    color: $color-default-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-4px, -12px);
  }
}

.hero__photos {
  position: absolute;
  width: 410px;
  height: 459px;
  right: 321px;
  top: 200px;

  img {
    width: 100%;
    object-fit: contain;
    height: auto;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__audio {
  align-self: end;
  margin-bottom: 100px;

  iframe {
    width: 340px;
    height: 220px;
  }

  @include vp-767 {
    display: none;
  }
}

.hero__item-info {
  display: flex;
  gap: 10px;

  span {
    position: relative;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    padding: 14px 20px;
    border: 1px solid $color-white-50;
    color: $color-default-white;
  }

  svg {
    position: relative;
    top: 1px;
    left: -5px;
  }
}

.hero__btn {
  margin-bottom: auto;
}

.swiper {
  .hero__pagination {
    display: flex;
    max-width: 100px;
    width: fit-content;
    flex-wrap: wrap;
    gap: 20px;
    right: 145px;
    left: auto;
    bottom: 210px;
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border: 1px solid $color-default-white;
    background-color: $color-transparent;
    opacity: 1;


    @include hover {
      background-color: $color-gainsboro;
    }

    @include active {
      background-color: $color-white-50;
    }

    @include focus {
      outline-offset: 1px;
      outline: 1px solid $color-white-50;
    }

    @include vp-767 {
      width: 8px;
      height: 8px;
    }
  }

  .swiper-pagination-bullet-active {
    background: $color-default-white;
  }
}
