.logo {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  padding: 10px 31px 10px 32px;

  @include vp-1199 {
    padding: 0;
  }

  @include focus {
    outline: 1px solid $color-default-white;
    outline-offset: 0;
  }

  &--sitemap {
    width: fit-content;
    color: $color-default-white;
    background-color: $color-navy-blue;

    @include focus {
      outline: 1px solid $color-default-black;
      outline-offset: 0;
    }
  }

  &--main-nav {
    color: $color-default-white;
  }

  &--is-opened {
    color: $color-elephant;

    @include focus {
      color: $color-navy-blue;
    }
  }
}
