.logo {
  width: 142px;
  height: 42px;
  flex-shrink: 0;

  @include focus {
    outline: 1px solid $color-default-white;
  }

  &--sitemap {
    display: block;
    margin-top: 50px;
    padding: 10px;
    width: 162px;
    height: 62px;
    background-color: $color-navy-blue;
  }

  img {
    height: revert-layer;
  }
}
