.nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  padding: 32px 20px;
  color: $color-default-white;
  background-color: $color-navy-blue;

  @include vp-1199 {
    padding: 20px 45px;
  }

  @include vp-767 {
    padding: 15px;
  }

  &--is-opened {
    background-color: $color-default-white;
  }
}

.nav__logo {
  z-index: 1;

  @include vp-1199 {
    order: 2;
  }
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 30px;
  list-style-type: none;
  padding: 0;
  width: 652px;
  margin: 0 auto;

  @include vp-1199 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 26px;
    position: absolute;
    top: 82px;
    left: 0;
    width: 100%;
    background-color: $color-default-white;
    padding: 50px 45px 70px;
    z-index: 2;
  }

  @include vp-767 {
    row-gap: 22px;
    padding: 30px 15px 50px;
  }
}

.nav__link {
  color: $color-default-white;
  position: relative;
  padding: 3px 5px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
    transform: scale(0);
    transform-origin: center;
    transition: $trans-default;
  }

  @include hover {
    &::before {
      transform: scale(1);
    }
  }

  @include active {
    &::before {
      display: none;
    }
  }

  @include focus {
    outline: 1px solid $color-default-white;
  }

  @include vp-1199 {
    color: $color-elephant;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.64px;
    text-transform: uppercase;

    &::before {
      background-color: $color-elephant;
    }

    @include focus {
      outline: 1px solid $color-elephant;
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.nav__burger-button {
  display: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 2;

  svg + svg {
    display: none;
  }

  @include vp-1199 {
    order: 1;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 103px 0 0;
  }

  @include vp-767 {
    margin: 0;
  }
}
