.nav {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 2;
  max-width: 1200px;
  width: 100%;
  padding: 32px 20px;
  color: $color-default-white;
  background-color: $color-navy-blue;

  @include vp-1199 {
    padding: 20px 45px;
  }

  @include vp-767 {
    display: grid;
    grid-template-areas:
      "button logo"
      "phone phone"
      "nav nav";
    grid-template-columns: 26px 1fr;
    grid-template-rows: 42px auto auto;
    padding: 15px;
  }

  &--is-opened {
    background-color: $color-default-white;

    .nav__burger-button {
      @include focus {
        outline: 1px solid $color-elephant;
        outline-offset: 5px;
      }
    }
  }
}

.nav__logo {
  z-index: 2;

  @include vp-1199 {
    order: 2;
  }

  @include vp-767 {
    justify-self: end;
    grid-area: logo;
  }
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 21px;
  list-style-type: none;
  padding: 0;
  width: 584px;
  margin: 0 auto;

  @include vp-1199 {
    display: none;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 26px;
    width: 100%;
    order: 4;
    background-color: $color-default-white;
    padding: 50px 45px 70px;
    z-index: 3;
  }

  @include vp-767 {
    row-gap: 22px;
    padding: 30px 15px 50px;
    grid-area: nav;
  }
}

.nav__link {
  color: $color-default-white;
  position: relative;
  padding: 3px 5px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $color-default-white;
    transform: scale(0);
    transform-origin: center;
    transition: $trans-default;
  }

  @include hover {
    &::before {
      transform: scale(1);
    }
  }

  @include active {
    &::before {
      display: none;
    }
  }

  @include focus {
    outline: 1px solid $color-default-white;
  }

  @include vp-1199 {
    color: $color-elephant;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0.64px;
    text-transform: uppercase;

    &::before {
      background-color: $color-elephant;
    }

    @include focus {
      outline: 1px solid $color-elephant;
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}

.nav__phone {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;

  .nav__phone-link {
    color: $color-default-white;
    font-size: 18px;
    font-weight: 600;
    line-height: 18px;
    margin-left: auto;
    margin-top: 4px;

    @include hover-focus {
      color: $color-resolution-blue;
    }

    @include active {
      color: $color-white-50;
    }

    @include without-outline;

    @include vp-1199 {
      font-size: 16px;
      line-height: 16px;
    }

    @include vp-767 {
      font-size: 14px;
      line-height: 14px;
    }
  }

  &--is-opened {
    .nav__phone-link {
      color: $color-elephant;

      @include hover-focus {
        color: $color-resolution-blue;
      }

      @include active {
        color: $color-navy-blue;
      }

      @include disabled {
        color: $color-navy-blue;
        pointer-events: none;
        cursor: default;
      }

      @include without-outline;
    }
  }

  @include vp-1199 {
    order: 3;
  }

  @include vp-767 {
    grid-area: phone;
  }
}

.nav__burger-button {
  display: none;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  z-index: 3;

  svg + svg {
    display: none;
  }

  @include vp-1199 {
    order: 1;
    display: flex;
    align-self: center;
    justify-content: center;
    margin: 0 103px 0 0;
  }

  @include vp-767 {
    margin: 0;
    align-self: start;
    grid-area: button;
  }

  @include focus {
    outline: 1px solid $color-default-white;
    outline-offset: 5px;
  }
}
