.process {
  h3 {
    font-size: 21px;
    font-weight: 700;
    line-height: 21px;
    margin: 0 0 23px;
    padding: 0 120px 0 0;

    @include vp-1199 {
      font-size: 18px;
      line-height: 18px;
      margin-bottom: 36px;
      padding: 0;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 16px;
      margin: 0 0 19px;
    }
  }
}

.process__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow-x: hidden;

  @include vp-1199 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 65px 0;
    grid-template-areas:
      "map boots"
      "mountains trees";
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
}

.process__item {
  display: flex;
  gap: 10px;
  align-items: flex-start;
  position: relative;
  padding: 4px 10px 24px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: $color-navy-blue;
    left: 10px;
    bottom: 8px;

    @include vp-1199 {
      bottom: 0;
    }

    @include vp-767 {
      display: block;
      width: 13px;
      height: 13px;
      left: 0;
      top: 16px;
    }
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-navy-blue-10;
    left: 10px;
    bottom: 14px;

    @include vp-1199 {
      bottom: 7px;
    }

    @include vp-767 {
      display: block;
      background-color: $color-navy-blue-10;
      left: 21px;
      bottom: 0;
      top: 55px;
      width: 56px;
      transform: rotate(90deg);
    }
  }

  &:last-child {
    flex-grow: 1;
  }

  &--map {
    &::after {
      @include vp-1199 {
        left: 20px;
      }

      @include vp-767 {
        left: -21px;
      }
    }
  }

  &--boots {
    &::before {
      @include vp-1199 {
        left: 15px;
      }

      @include vp-767 {
        left: 0;
      }
    }

    &::after {
      @include vp-1199 {
        transform: rotate(90deg);
        left: -6px;
        bottom: -20px;
        width: 56px;
      }

      @include vp-767 {
        left: -21px;
        bottom: 7px;
      }
    }
  }

  &--mountains {
    @include vp-1199 {
      padding-top: 2px;
    }

    &::before {
      @include vp-1199 {
        top: -25px;
        bottom: auto;
      }

      @include vp-767 {
        top: 17px;
      }
    }

    &::after {
      @include vp-1199 {
        top: -18px;
        left: 20px;
        bottom: auto;
      }

      @include vp-767 {
        display: none;
      }
    }
  }

  &--trees {
    @include vp-1199 {
      padding-top: 2px;
    }

    &::before {
      @include vp-1199 {
        top: -25px;
        left: 15px;
        bottom: auto;
      }

      @include vp-767 {
        left: 0;
        top: 17px;
      }
    }

    &::after {
      @include vp-1199 {
        display: none;
      }

      @include vp-767 {
        display: block;
        left: -21px;
        bottom: 7px;
      }
    }
  }

  @include vp-1199 {
    &::after {
      height: 1px;
    }

    &--map {
      grid-area: map;
    }

    &--boots {
      grid-area: boots;
      padding-left: 14px;
    }

    &--mountains {
      grid-area: mountains;
    }

    &--trees {
      grid-area: trees;
      padding-left: 14px;
    }
  }

  @include vp-767 {
    padding: 4px 10px 21px 29px;
    gap: 12px;
  }

  svg {
    flex-shrink: 0;
    margin-top: 2px;

    @include vp-767 {
      margin-top: 6px;
      width: 22px;
      height: 22px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 198px;
    margin: 0;

    @include vp-1199 {
      font-size: 14px;
      line-height: 22px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
