.reviews {
  position: relative;
}

.reviews__wrapper {
  padding: 42px 0 0;

  @include vp-1199 {
    padding: 113px 0;
  }

  @include vp-1023 {
    padding: 46px 0;
  }

  @include vp-767 {
    padding: 31px 0;
  }
}

.reviews__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 27px;

  @include vp-1199 {
    margin-bottom: 36px;
  }

  @include vp-767 {
    margin-bottom: 2px;
  }
}

.reviews__title {
  margin-top: 13px;

  @include vp-1199 {
    margin-top: 11px;
    margin-left: 1px;
  }
}

.reviews__slider-navigation {
  position: absolute;
  top: 0;
  right: 0;
}

.reviews__list {
  padding: 10px;
  margin: 0;
  list-style: none;

  @include vp-1199 {
    padding: 20px 0;
  }

  @include vp-767 {
    padding: 15px 0;
  }
}
