.review {
  max-width: 700px;
  height: auto;
  padding: 20px 40px 20px 20px;
  display: flex;
  gap: 30px;
  box-shadow: 0 0 20px 0 $color-resolution-blue-10;
  background-color: $color-default-white;

  @include vp-1199 {
    padding-right: 30px;
    box-shadow: 0 0 30px 0 $color-resolution-blue-10;
    max-width: 565px;
  }

  @include vp-767 {
    max-width: 100%;
    min-width: 290px;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    box-shadow: 0 0 20px 0 $color-resolution-blue-10;
  }
}

.review__avatar {
  min-width: 258px;
  max-height: 253px;
  background-color: $color-resolution-blue;

  @include vp-1199 {
    min-width: 186px;
    min-height: 237px;
  }

  @include vp-767 {
    min-width: 100%;
    min-height: 169px;
  }
}

.review__avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.review__text {
  display: flex;
  flex-direction: column;

  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    margin: -2px 0 0;

    @include vp-1199 {
      font-size: 12px;
      line-height: 18px;
      margin-top: 4px;
    }

    @include vp-767 {
      margin-top: -1px;
    }
  }

  p + p {
    margin-top: 0;
    margin-bottom: 14px;

    @include vp-1199 {
      margin-top: 10px;
      margin-bottom: 26px;
    }

    @include vp-767 {
      margin-bottom: 16px;
    }
  }

  h3 {
    margin: 0 0 8px;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;

    @include vp-1199 {
      margin-bottom: 6px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 12px;
      margin-bottom: 8px;
    }
  }

  .review__author-details {
    font-size: 12px;
    font-weight: 300;
    line-height: 12px;
    margin: 0;
  }
}
