.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $color-elephant-30;
  align-self: flex-start;
  cursor: pointer;
  flex-shrink: 0;
  color: $color-default-black;
  text-decoration: none;

  svg {
    color: $color-elephant;
  }

  &--training {
    width: 24px;
    height: 24px;
  }

  &--footer {
    border: 1px solid $color-elephant-20;
    width: 30px;
    height: 30px;

    @include vp-1199 {
      border: 1px solid $color-elephant-30;
      width: 32px;
    }
  }

  @include hover-focus {
    border: 1px solid $color-elephant;
  }

  &--vk {
    @include active {
      border: none;
      background-color: $color-navy-blue;

      svg {
        color: $color-default-white;
      }
    }
  }

  &--ok {
    @include active {
      border: none;
      background-color: $west-side;

      svg {
        color: $color-default-white;
      }
    }
  }

  &--reddit {
    @include active {
      border: none;
      background-color: $international-orange;

      svg {
        color: $color-default-white;
      }
    }
  }

  @include disabled {
    border: 1px solid $color-elephant-30;

    svg {
      color: $color-elephant-30;
    }
  }
}
