.tours {
  position: relative;
}

.tours__wrapper {
  padding: 123px 0 99px;
  position: relative;
  z-index: 3;

  @include vp-1199 {
    padding: 68px 0 44px;
  }

  @include vp-767 {
    padding: 55px 0 20px;
  }
}

.tours__clouds-big {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  width: 602px;
  height: 1630px;

  @include vp-1199 {
    width: 602px;
    height: 1364px;
  }

  @include vp-767 {
    top: 110px;
    width: 171px;
    height: 595px;
  }
}

.tours__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 50px;

  @include vp-1199 {
    margin-bottom: 22px;
  }

  @include vp-767 {
    margin-bottom: 23px;
  }
}

.tours__slider-navigation {
  position: absolute;
  top: -3px;
  right: 0;

  @include vp-767 {
    top: -15px;
  }
}

.tours__swiper {
  margin-bottom: 1px;

  @include vp-767 {
    margin-bottom: 0;
  }
}

.tours__list {
  margin: 0 0 53px;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    margin-bottom: 25px;
  }
}

.tours__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  max-width: 380px;
  min-height: 416px;
  background-color: $color-navy-blue;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $gradient-cards;
    z-index: -1;
  }

  &--no-gradient {
    &::before {
      background: $color-black-20;
    }
  }

  @include vp-1199 {
    min-width: 330px;
    max-width: 100%;
  }

  @include vp-767 {
    min-width: 100%;
    max-width: 100%;
  }

  h3 {
    position: relative;
    margin: 0 0 30px;
    padding: 0 70px 0 0;
    color: $color-default-white;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background-color: $color-white-20;
      left: 0;
      bottom: -15px;
    }

    @include vp-1199 {
      padding-right: 150px;
    }

    @include vp-1023 {
      padding-right: 45px;
    }

    @include vp-349 {
      padding-right: 25px;
    }
  }
}

.tours__image {
  position: absolute;
  inset: 0;
  z-index: -2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tours__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 0 16px;
  padding: 0;
  list-style: none;
  max-width: 100%;
  color: $color-default-white;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  gap: 14px;
}

.tours__data-wrapper {
  display: flex;
  gap: 15px;
  margin-left: auto;
}

.tours__point {
  display: flex;
  align-items: center;
  padding: 8px 13px 8px 12px;
  background-color: $color-navy-blue;
  gap: 6px;

  @include vp-349 {
    padding: 6px;
  }

  svg {
    margin-left: 4px;
    margin-right: 3px;
  }
}

.tours__days,
.tours__nights {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tours__description {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
    color: $color-default-white;
  }

  dt {
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }

  dd {
    margin-top: 7px;
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
  }

  dl.tours__complexity {
    margin-bottom: -2px;

    dt {
      margin-bottom: -3px;
    }
  }
}

.tours__link {
  width: fit-content;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    color: $color-elephant;

    svg {
      position: relative;
      bottom: 1px;
      left: 1px;

      @include vp-767 {
        bottom: 0;
      }
    }

    @include hover-focus {
      color: $color-resolution-blue;

      svg {
        stroke: $color-resolution-blue;
      }
    }

    @include active {
      color: $color-navy-blue;

      svg {
        stroke: $color-navy-blue;
      }
    }

    @include disabled {
      color: $color-navy-blue;

      svg {
        display: none;
      }
    }
  }

  @include vp-767 {
    font-size: 14px;
    line-height: 14px;
    letter-spacing: 0.56px;
  }
}
