.tours {
  position: relative;
}

.tours__wrapper {
  padding: 100px 0;

  @include vp-1199 {
    padding: 45px 0;
  }

  @include vp-767 {
    padding: 35px 0;
  }
}

.tours__header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 53px;
  overflow-x: clip;

  &::after {
    position: absolute;
    content: attr(data-text);
    width: 542px;
    left: 0;
    bottom: 0;
    font-weight: 800;
    font-size: 55px;
    line-height: 55px;
    color: $color-elephant;
    opacity: 0.03;
    z-index: -1;
  }

  @include vp-1199 {
    margin-bottom: 25px;
  }
}

.tours__title {
  margin: 0;
  padding: 0;
  font-size: 35px;
  font-weight: 800;
  line-height: 35px;

  @include vp-767 {
    font-size: 22px;
    line-height: 22px;
  }

  @include vp-349 {
    font-size: 20px;
    line-height: 20px;
  }
}

.tours__button {
  width: 37px;
  height: 35px;
  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  & svg {
    color: $color-default-white;
  }

  @include hover-focus {
    border: 1px solid $color-elephant;
    background-color: $color-default-white;

    & svg {
      color: $color-elephant;
    }
  }

  &--next {
    transform: rotate(180deg);
  }

  @include active {
    background-color: $color-resolution-blue;
    border: none;

    & svg {
      color: $color-default-white;
    }
  }

  @include without-outline;

  @include disabled {
    background-color: $color-nobel;
  }
}

.tours__list {
  margin: 0 0 53px;
  padding: 0;
  list-style: none;

  @include vp-1199 {
    margin-bottom: 25px;
  }
}

.tours__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  max-width: 380px;
  min-height: 416px;
  background-color: $color-navy-blue;

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: $gradient-cards;
    z-index: -1;
  }

  @include vp-1199 {
    min-width: 330px;
    max-width: 100%;
  }

  @include vp-767 {
    min-width: 100%;
    max-width: 100%;
  }

  h3 {
    position: relative;
    margin: 0 0 31px;
    padding: 0 70px 0 0;
    color: $color-default-white;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;

    &::after {
      position: absolute;
      content: "";
      width: 80px;
      height: 1px;
      background-color: $color-white-20;
      left: 0;
      bottom: -15px;
    }

    @include vp-1199 {
      padding-right: 150px;
    }

    @include vp-1023 {
      padding-right: 45px;
    }

    @include vp-349 {
      padding-right: 25px;
    }
  }
}

.tours__image {
  position: absolute;
  inset: 0;
  z-index: -2;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.tours__data {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto 0 15px;
  padding: 0;
  list-style: none;
  max-width: 100%;
  color: $color-default-white;
  font-size: 12px;
  font-weight: 500;
  line-height: 12px;
  gap: 14px;
}

.tours__data-wrapper {
  display: flex;
  gap: 14px;
  margin-left: auto;
}

.tours__point {
  display: flex;
  align-items: center;
  padding: 6px 12px;
  background-color: $color-navy-blue;
  gap: 6px;

  @include vp-349 {
    padding: 6px;
  }
}

.tours__days,
.tours__nights {
  display: flex;
  align-items: center;
  gap: 12px;
}

.tours__description {
  display: flex;
  justify-content: space-between;
  align-items: center;

  dl,
  dt,
  dd {
    margin: 0;
    padding: 0;
    color: $color-default-white;
  }

  dt {
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 12px;
    font-weight: 300;
  }

  dd {
    font-size: 13px;
    line-height: 13px;
    font-weight: 700;
  }
}

.tours__link {
  width: fit-content;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    color: $color-elephant;

    @include hover-focus {
      color: $color-resolution-blue;

      svg {
        stroke: $color-resolution-blue;
      }
    }

    @include active {
      color: $color-navy-blue;

      svg {
        stroke: $color-navy-blue;
      }
    }

    @include disabled {
      color: $color-navy-blue;

      svg {
        display: none;
      }
    }
  }
}
