.training__wrapper {
  position: relative;
}

.training__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.training__item {
  max-width: 285px;
  min-height: 356px;

  @include vp-1199 {
    min-width: 213px;
    max-width: 100%;
    min-height: 388px;
  }

  @include vp-767 {
    min-width: 100%;
    max-width: 100%;
    min-height: 356px;
  }
}

.training__contacts-wrapper {
  display: flex;
  justify-content: space-between;
}
